
.avatar-small[style*='91297138960527360'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91297138960527360'] + .member-inner .member-username::after,
.avatar-popout[style*='91297138960527360']::after,
.avatar-profile[style*='91297138960527360']::after,
.message-group .avatar-large[style*='91297138960527360'] + .comment .user-name::after,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='188609869576798208'] + .member-inner .member-username::after,
.avatar-popout[style*='188609869576798208']::after,
.avatar-profile[style*='188609869576798208']::after,
.message-group .avatar-large[style*='188609869576798208'] + .comment .user-name::after,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='74539987235778560'] + .member-inner .member-username::after,
.avatar-popout[style*='74539987235778560']::after,
.avatar-profile[style*='74539987235778560']::after,
.message-group .avatar-large[style*='74539987235778560'] + .comment .user-name::after,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='90673598259286016'] + .member-inner .member-username::after,
.avatar-popout[style*='90673598259286016']::after,
.avatar-profile[style*='90673598259286016']::after,
.message-group .avatar-large[style*='90673598259286016'] + .comment .user-name::after,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='136449689460408320'] + .member-inner .member-username::after,
.avatar-popout[style*='136449689460408320']::after,
.avatar-profile[style*='136449689460408320']::after,
.message-group .avatar-large[style*='136449689460408320'] + .comment .user-name::after,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='231403365681201153'] + .member-inner .member-username::after,
.avatar-popout[style*='231403365681201153']::after,
.avatar-profile[style*='231403365681201153']::after,
.message-group .avatar-large[style*='231403365681201153'] + .comment .user-name::after,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='246075731061243904'] + .member-inner .member-username::after,
.avatar-popout[style*='246075731061243904']::after,
.avatar-profile[style*='246075731061243904']::after,
.message-group .avatar-large[style*='246075731061243904'] + .comment .user-name::after,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='153591222148136970'] + .member-inner .member-username::after,
.avatar-popout[style*='153591222148136970']::after,
.avatar-profile[style*='153591222148136970']::after,
.message-group .avatar-large[style*='153591222148136970'] + .comment .user-name::after,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93989048976150528'] + .member-inner .member-username::after,
.avatar-popout[style*='93989048976150528']::after,
.avatar-profile[style*='93989048976150528']::after,
.message-group .avatar-large[style*='93989048976150528'] + .comment .user-name::after,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91611701434130432'] + .member-inner .member-username::after,
.avatar-popout[style*='91611701434130432']::after,
.avatar-profile[style*='91611701434130432']::after,
.message-group .avatar-large[style*='91611701434130432'] + .comment .user-name::after,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='110250208872411136'] + .member-inner .member-username::after,
.avatar-popout[style*='110250208872411136']::after,
.avatar-profile[style*='110250208872411136']::after,
.message-group .avatar-large[style*='110250208872411136'] + .comment .user-name::after,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129375828407615488'] + .member-inner .member-username::after,
.avatar-popout[style*='129375828407615488']::after,
.avatar-profile[style*='129375828407615488']::after,
.message-group .avatar-large[style*='129375828407615488'] + .comment .user-name::after,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129363895696621569'] + .member-inner .member-username::after,
.avatar-popout[style*='129363895696621569']::after,
.avatar-profile[style*='129363895696621569']::after,
.message-group .avatar-large[style*='129363895696621569'] + .comment .user-name::after,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93825299266928640'] + .member-inner .member-username::after,
.avatar-popout[style*='93825299266928640']::after,
.avatar-profile[style*='93825299266928640']::after,
.message-group .avatar-large[style*='93825299266928640'] + .comment .user-name::after,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106511773581991936'] + .member-inner .member-username::after,
.avatar-popout[style*='106511773581991936']::after,
.avatar-profile[style*='106511773581991936']::after,
.message-group .avatar-large[style*='106511773581991936'] + .comment .user-name::after,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='86810211834150912'] + .member-inner .member-username::after,
.avatar-popout[style*='86810211834150912']::after,
.avatar-profile[style*='86810211834150912']::after,
.message-group .avatar-large[style*='86810211834150912'] + .comment .user-name::after,
.avatar-small[style*='254436768709869578'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='254436768709869578'] + .member-inner .member-username::after,
.avatar-popout[style*='254436768709869578']::after,
.avatar-profile[style*='254436768709869578']::after,
.message-group .avatar-large[style*='254436768709869578'] + .comment .user-name::after,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106750383161901056'] + .member-inner .member-username::after,
.avatar-popout[style*='106750383161901056']::after,
.avatar-profile[style*='106750383161901056']::after,
.message-group .avatar-large[style*='106750383161901056'] + .comment .user-name::after,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='131129476527554560'] + .member-inner .member-username::after,
.avatar-popout[style*='131129476527554560']::after,
.avatar-profile[style*='131129476527554560']::after,
.message-group .avatar-large[style*='131129476527554560'] + .comment .user-name::after
{
    content: "BA";
}
.avatar-profile[style*='91297138960527360']::after,
.avatar-profile[style*='188609869576798208']::after,
.avatar-profile[style*='74539987235778560']::after,
.avatar-profile[style*='90673598259286016']::after,
.avatar-profile[style*='136449689460408320']::after,
.avatar-profile[style*='231403365681201153']::after,
.avatar-profile[style*='153591222148136970']::after,
.avatar-profile[style*='246075731061243904']::after,
.avatar-profile[style*='93989048976150528']::after,
.avatar-profile[style*='91611701434130432']::after,
.avatar-profile[style*='110250208872411136']::after,
.avatar-profile[style*='129375828407615488']::after,
.avatar-profile[style*='129363895696621569']::after,
.avatar-profile[style*='93825299266928640']::after,
.avatar-profile[style*='106511773581991936']::after,
.avatar-profile[style*='86810211834150912']::after,
.avatar-profile[style*='254436768709869578']::after,
.avatar-profile[style*='106750383161901056']::after,
.avatar-profile[style*='131129476527554560']::after
{
    content: "plug.dj BA";
}
.avatar-small[style*='91297138960527360'] + .member-inner .member-username,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username,
.avatar-small[style*='254436768709869578'] + .member-inner .member-username,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username
{
    position: relative;
}
.avatar-small[style*='/a_'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='/a_'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='/a_'] + .comment .user-name::after,
.avatar-small[style*='91297138960527360'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91297138960527360'] + .member-inner .member-username::after,
.avatar-popout[style*='91297138960527360']::after,
.avatar-profile[style*='91297138960527360']::after,
.message-group .avatar-large[style*='91297138960527360'] + .comment .user-name::after,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='188609869576798208'] + .member-inner .member-username::after,
.avatar-popout[style*='188609869576798208']::after,
.avatar-profile[style*='188609869576798208']::after,
.message-group .avatar-large[style*='188609869576798208'] + .comment .user-name::after,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='74539987235778560'] + .member-inner .member-username::after,
.avatar-popout[style*='74539987235778560']::after,
.avatar-profile[style*='74539987235778560']::after,
.message-group .avatar-large[style*='74539987235778560'] + .comment .user-name::after,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='90673598259286016'] + .member-inner .member-username::after,
.avatar-popout[style*='90673598259286016']::after,
.avatar-profile[style*='90673598259286016']::after,
.message-group .avatar-large[style*='90673598259286016'] + .comment .user-name::after,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='136449689460408320'] + .member-inner .member-username::after,
.avatar-popout[style*='136449689460408320']::after,
.avatar-profile[style*='136449689460408320']::after,
.message-group .avatar-large[style*='136449689460408320'] + .comment .user-name::after,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='231403365681201153'] + .member-inner .member-username::after,
.avatar-popout[style*='231403365681201153']::after,
.avatar-profile[style*='231403365681201153']::after,
.message-group .avatar-large[style*='231403365681201153'] + .comment .user-name::after,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='246075731061243904'] + .member-inner .member-username::after,
.avatar-popout[style*='246075731061243904']::after,
.avatar-profile[style*='246075731061243904']::after,
.message-group .avatar-large[style*='246075731061243904'] + .comment .user-name::after,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='153591222148136970'] + .member-inner .member-username::after,
.avatar-popout[style*='153591222148136970']::after,
.avatar-profile[style*='153591222148136970']::after,
.message-group .avatar-large[style*='153591222148136970'] + .comment .user-name::after,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93989048976150528'] + .member-inner .member-username::after,
.avatar-popout[style*='93989048976150528']::after,
.avatar-profile[style*='93989048976150528']::after,
.message-group .avatar-large[style*='93989048976150528'] + .comment .user-name::after,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='110250208872411136'] + .member-inner .member-username::after,
.avatar-popout[style*='110250208872411136']::after,
.avatar-profile[style*='110250208872411136']::after,
.message-group .avatar-large[style*='110250208872411136'] + .comment .user-name::after,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91611701434130432'] + .member-inner .member-username::after,
.avatar-popout[style*='91611701434130432']::after,
.avatar-profile[style*='91611701434130432']::after,
.message-group .avatar-large[style*='91611701434130432'] + .comment .user-name::after,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129375828407615488'] + .member-inner .member-username::after,
.avatar-popout[style*='129375828407615488']::after,
.avatar-profile[style*='129375828407615488']::after,
.message-group .avatar-large[style*='129375828407615488'] + .comment .user-name::after,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129363895696621569'] + .member-inner .member-username::after,
.avatar-popout[style*='129363895696621569']::after,
.avatar-profile[style*='129363895696621569']::after,
.message-group .avatar-large[style*='129363895696621569'] + .comment .user-name::after,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93825299266928640'] + .member-inner .member-username::after,
.avatar-popout[style*='93825299266928640']::after,
.avatar-profile[style*='93825299266928640']::after,
.message-group .avatar-large[style*='93825299266928640'] + .comment .user-name::after,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106511773581991936'] + .member-inner .member-username::after,
.avatar-popout[style*='106511773581991936']::after,
.avatar-profile[style*='106511773581991936']::after,
.message-group .avatar-large[style*='106511773581991936'] + .comment .user-name::after,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='86810211834150912'] + .member-inner .member-username::after,
.avatar-popout[style*='86810211834150912']::after,
.avatar-profile[style*='86810211834150912']::after,
.message-group .avatar-large[style*='86810211834150912'] + .comment .user-name::after,
.guild-settings-modal-members .avatar-small[style*='254436768709869578'] + .member-inner .member-username::after,
.avatar-popout[style*='254436768709869578']::after,
.avatar-profile[style*='254436768709869578']::after,
.message-group .avatar-large[style*='254436768709869578'] + .comment .user-name::after,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106750383161901056'] + .member-inner .member-username::after,
.avatar-popout[style*='106750383161901056']::after,
.avatar-profile[style*='106750383161901056']::after,
.message-group .avatar-large[style*='106750383161901056'] + .comment .user-name::after,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='131129476527554560'] + .member-inner .member-username::after,
.avatar-popout[style*='131129476527554560']::after,
.avatar-profile[style*='131129476527554560']::after,
.message-group .avatar-large[style*='131129476527554560'] + .comment .user-name::after
{
    position: absolute;
    height: 14px;
    padding: 1px 2px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.5);
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 16px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    vertical-align: bottom;
}
.avatar-small[style*='/a_'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='/a_'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='/a_'] + .comment .user-name::after,
.avatar-small[style*='91297138960527360'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91297138960527360'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='91297138960527360'] + .comment .user-name::after,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='188609869576798208'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='188609869576798208'] + .comment .user-name::after,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='74539987235778560'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='74539987235778560'] + .comment .user-name::after,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='90673598259286016'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='90673598259286016'] + .comment .user-name::after,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='136449689460408320'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='136449689460408320'] + .comment .user-name::after,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='231403365681201153'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='231403365681201153'] + .comment .user-name::after,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='246075731061243904'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='246075731061243904'] + .comment .user-name::after,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='153591222148136970'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='153591222148136970'] + .comment .user-name::after,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93989048976150528'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='93989048976150528'] + .comment .user-name::after,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='110250208872411136'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='110250208872411136'] + .comment .user-name::after,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91611701434130432'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='91611701434130432'] + .comment .user-name::after,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129375828407615488'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='129375828407615488'] + .comment .user-name::after,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129363895696621569'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='129363895696621569'] + .comment .user-name::after,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93825299266928640'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='93825299266928640'] + .comment .user-name::after,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106511773581991936'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='106511773581991936'] + .comment .user-name::after,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='86810211834150912'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='86810211834150912'] + .comment .user-name::after,
.avatar-small[style*='254436768709869578'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='254436768709869578'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='254436768709869578'] + .comment .user-name::after,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106750383161901056'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='106750383161901056'] + .comment .user-name::after,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='131129476527554560'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='131129476527554560'] + .comment .user-name::after
{
    position: relative;
    background: rgba(100, 100, 100, 0.3);
    color: hsla(0, 0%, 100%, 0.6);
    margin-left: 6px;
}
.avatar-small[style*='/a_'] + .member-inner .member-username-inner::after,
.avatar-small[style*='91297138960527360'] + .member-inner .member-username-inner::after,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username-inner::after,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username-inner::after,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username-inner::after,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username-inner::after,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username-inner::after,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username-inner::after,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username-inner::after,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username-inner::after,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username-inner::after,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username-inner::after,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username-inner::after,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username-inner::after,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username-inner::after,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username-inner::after,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username-inner::after,
.avatar-small[style*='254436768709869578'] + .member-inner .member-username-inner::after,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username-inner::after,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username-inner::after
{
    top: -1px;
    font-size: 11px;
}
.avatar-popout[style*='91297138960527360']::after,
.avatar-popout[style*='188609869576798208']::after,
.avatar-popout[style*='74539987235778560']::after,
.avatar-popout[style*='90673598259286016']::after,
.avatar-popout[style*='136449689460408320']::after,
.avatar-popout[style*='231403365681201153']::after,
.avatar-popout[style*='246075731061243904']::after,
.avatar-popout[style*='153591222148136970']::after,
.avatar-popout[style*='93989048976150528']::after,
.avatar-popout[style*='110250208872411136']::after,
.avatar-popout[style*='91611701434130432']::after,
.avatar-popout[style*='129375828407615488']::after,
.avatar-popout[style*='129363895696621569']::after,
.avatar-popout[style*='93825299266928640']::after,
.avatar-popout[style*='106511773581991936']::after,
.avatar-popout[style*='86810211834150912']::after,
.avatar-popout[style*='254436768709869578']::after,
.avatar-popout[style*='106750383161901056']::after,
.avatar-popout[style*='131129476527554560']::after
{
    padding: 3px;
    font-size: 15px;
    top: 5%;
    right: -15%;
    z-index: 2;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.avatar-popout[style*='91297138960527360']:hover::after,
.avatar-popout[style*='188609869576798208']:hover::after,
.avatar-popout[style*='74539987235778560']:hover::after,
.avatar-popout[style*='90673598259286016']:hover::after,
.avatar-popout[style*='136449689460408320']:hover::after,
.avatar-popout[style*='153591222148136970']:hover::after,
.avatar-popout[style*='231403365681201153']:hover::after,
.avatar-popout[style*='246075731061243904']:hover::after,
.avatar-popout[style*='93989048976150528']:hover::after,
.avatar-popout[style*='110250208872411136']:hover::after,
.avatar-popout[style*='91611701434130432']:hover::after,
.avatar-popout[style*='129375828407615488']:hover::after,
.avatar-popout[style*='129363895696621569']:hover::after,
.avatar-popout[style*='93825299266928640']:hover::after,
.avatar-popout[style*='106511773581991936']:hover::after,
.avatar-popout[style*='86810211834150912']:hover::after,
.avatar-popout[style*='254436768709869578']:hover::after,
.avatar-popout[style*='106750383161901056']:hover::after,
.avatar-popout[style*='131129476527554560']:hover::after

{
    color: #fff;
    font-size: 20px;
    padding: 5px 4px;
    top: 2.5%;
    right: -25%;
}
.avatar-profile[style*='91297138960527360']::after,
.avatar-profile[style*='188609869576798208']::after,
.avatar-profile[style*='74539987235778560']::after,
.avatar-profile[style*='90673598259286016']::after,
.avatar-profile[style*='136449689460408320']::after,
.avatar-profile[style*='153591222148136970']::after,
.avatar-profile[style*='231403365681201153']::after,
.avatar-profile[style*='246075731061243904']::after,
.avatar-profile[style*='93989048976150528']::after,
.avatar-profile[style*='110250208872411136']::after,
.avatar-profile[style*='91611701434130432']::after,
.avatar-profile[style*='129375828407615488']::after,
.avatar-profile[style*='129363895696621569']::after,
.avatar-profile[style*='93825299266928640']::after,
.avatar-profile[style*='106511773581991936']::after,
.avatar-profile[style*='86810211834150912']::after,
.avatar-profile[style*='254436768709869578']::after,
.avatar-profile[style*='106750383161901056']::after,
.avatar-profile[style*='131129476527554560']::after
{
    background: rgba(0, 0, 0, 0.3);
    padding: 3px;
    font-size: 15px;
    top: -5%;
    left: 0;
    text-transform: none;
    width: 100%;
}