/* Admin's */

.avatar-small[style*='204147765624832000'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='204147765624832000'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='204147765624832000'] + .comment .user-name::before,
.avatar-small[style*='87323030962851840'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='87323030962851840'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='87323030962851840'] + .comment .user-name::before,
.avatar-small[style*='125696852799520769'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='125696852799520769'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='125696852799520769'] + .comment .user-name::before,
.avatar-small[style*='213000862769872896'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='213000862769872896'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='213000862769872896'] + .comment .user-name::before,
.avatar-small[style*='125696852799520769'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='125696852799520769'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='125696852799520769'] + .comment .user-name::before,
.avatar-small[style*='271035308944916490'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='271035308944916490'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='271035308944916490'] + .comment .user-name::before,
.avatar-small[style*='97791272479121408'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='97791272479121408'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='97791272479121408'] + .comment .user-name::before{
    content: url(http://i.imgur.com/585O9bD.png);
}
.avatar-small[style*='/a_'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='/a_'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='/a_'] + .comment .user-name::before,
.avatar-small[style*='204147765624832000'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='204147765624832000'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='204147765624832000'] + .comment .user-name::before,
.avatar-small[style*='87323030962851840'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='87323030962851840'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='87323030962851840'] + .comment .user-name::before,
.avatar-small[style*='125696852799520769'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='125696852799520769'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='125696852799520769'] + .comment .user-name::before,
.avatar-small[style*='213000862769872896'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='213000862769872896'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='213000862769872896'] + .comment .user-name::before,
.avatar-small[style*='125696852799520769'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='125696852799520769'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='125696852799520769'] + .comment .user-name::before,
.avatar-small[style*='271035308944916490'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='271035308944916490'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='271035308944916490'] + .comment .user-name::before,
.avatar-small[style*='97791272479121408'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='97791272479121408'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='97791272479121408'] + .comment .user-name::before{
    position: absolute;
    padding: 1px 2px;
    vertical-align: bottom;
    top: 2px;
}
.avatar-small[style*='/a_'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='/a_'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='/a_'] + .comment .user-name::before,
.avatar-small[style*='204147765624832000'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='204147765624832000'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='204147765624832000'] + .comment .user-name::before,
.avatar-small[style*='87323030962851840'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='87323030962851840'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='87323030962851840'] + .comment .user-name::before,
.avatar-small[style*='125696852799520769'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='125696852799520769'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='125696852799520769'] + .comment .user-name::before,
.avatar-small[style*='213000862769872896'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='213000862769872896'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='213000862769872896'] + .comment .user-name::before,
.avatar-small[style*='125696852799520769 '] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='125696852799520769 '] + .member-inner .member-username::before,
.message-group .avatar-large[style*='125696852799520769 '] + .comment .user-name::before,
.avatar-small[style*='271035308944916490'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='271035308944916490'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='271035308944916490'] + .comment .user-name::before,
.avatar-small[style*='97791272479121408'] + .member-inner .member-username-inner::before,
.guild-settings-modal-members .avatar-small[style*='97791272479121408'] + .member-inner .member-username::before,
.message-group .avatar-large[style*='97791272479121408'] + .comment .user-name::before{
    position: relative;
    margin-left: 0px;
}
.avatar-small[style*='/a_'] + .member-inner .member-username-inner::before,
.avatar-small[style*='204147765624832000'] + .member-inner .member-username-inner::before,
.avatar-small[style*='87323030962851840'] + .member-inner .member-username-inner::before,
.avatar-small[style*='125696852799520769'] + .member-inner .member-username-inner::before,
.avatar-small[style*='213000862769872896'] + .member-inner .member-username-inner::before,
.avatar-small[style*='125696852799520769'] + .member-inner .member-username-inner::before,
.avatar-small[style*='271035308944916490'] + .member-inner .member-username-inner::before,
.avatar-small[style*='97791272479121408'] + .member-inner .member-username-inner::before{
    top: 2px;
}

/* BA's */

.avatar-small[style*='91297138960527360'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91297138960527360'] + .member-inner .member-username::after,
.avatar-popout[style*='91297138960527360']::after,
.avatar-profile[style*='91297138960527360']::after,
.message-group .avatar-large[style*='91297138960527360'] + .comment .user-name::after,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='188609869576798208'] + .member-inner .member-username::after,
.avatar-popout[style*='188609869576798208']::after,
.avatar-profile[style*='188609869576798208']::after,
.message-group .avatar-large[style*='188609869576798208'] + .comment .user-name::after,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='74539987235778560'] + .member-inner .member-username::after,
.avatar-popout[style*='74539987235778560']::after,
.avatar-profile[style*='74539987235778560']::after,
.message-group .avatar-large[style*='74539987235778560'] + .comment .user-name::after,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='90673598259286016'] + .member-inner .member-username::after,
.avatar-popout[style*='90673598259286016']::after,
.avatar-profile[style*='90673598259286016']::after,
.message-group .avatar-large[style*='90673598259286016'] + .comment .user-name::after,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='136449689460408320'] + .member-inner .member-username::after,
.avatar-popout[style*='136449689460408320']::after,
.avatar-profile[style*='136449689460408320']::after,
.message-group .avatar-large[style*='136449689460408320'] + .comment .user-name::after,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='231403365681201153'] + .member-inner .member-username::after,
.avatar-popout[style*='231403365681201153']::after,
.avatar-profile[style*='231403365681201153']::after,
.message-group .avatar-large[style*='231403365681201153'] + .comment .user-name::after,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='246075731061243904'] + .member-inner .member-username::after,
.avatar-popout[style*='246075731061243904']::after,
.avatar-profile[style*='246075731061243904']::after,
.message-group .avatar-large[style*='246075731061243904'] + .comment .user-name::after,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='153591222148136970'] + .member-inner .member-username::after,
.avatar-popout[style*='153591222148136970']::after,
.avatar-profile[style*='153591222148136970']::after,
.message-group .avatar-large[style*='153591222148136970'] + .comment .user-name::after,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93989048976150528'] + .member-inner .member-username::after,
.avatar-popout[style*='93989048976150528']::after,
.avatar-profile[style*='93989048976150528']::after,
.message-group .avatar-large[style*='93989048976150528'] + .comment .user-name::after,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91611701434130432'] + .member-inner .member-username::after,
.avatar-popout[style*='91611701434130432']::after,
.avatar-profile[style*='91611701434130432']::after,
.message-group .avatar-large[style*='91611701434130432'] + .comment .user-name::after,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='110250208872411136'] + .member-inner .member-username::after,
.avatar-popout[style*='110250208872411136']::after,
.avatar-profile[style*='110250208872411136']::after,
.message-group .avatar-large[style*='110250208872411136'] + .comment .user-name::after,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129375828407615488'] + .member-inner .member-username::after,
.avatar-popout[style*='129375828407615488']::after,
.avatar-profile[style*='129375828407615488']::after,
.message-group .avatar-large[style*='129375828407615488'] + .comment .user-name::after,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129363895696621569'] + .member-inner .member-username::after,
.avatar-popout[style*='129363895696621569']::after,
.avatar-profile[style*='129363895696621569']::after,
.message-group .avatar-large[style*='129363895696621569'] + .comment .user-name::after,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93825299266928640'] + .member-inner .member-username::after,
.avatar-popout[style*='93825299266928640']::after,
.avatar-profile[style*='93825299266928640']::after,
.message-group .avatar-large[style*='93825299266928640'] + .comment .user-name::after,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106511773581991936'] + .member-inner .member-username::after,
.avatar-popout[style*='106511773581991936']::after,
.avatar-profile[style*='106511773581991936']::after,
.message-group .avatar-large[style*='106511773581991936'] + .comment .user-name::after,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='86810211834150912'] + .member-inner .member-username::after,
.avatar-popout[style*='86810211834150912']::after,
.avatar-profile[style*='86810211834150912']::after,
.message-group .avatar-large[style*='86810211834150912'] + .comment .user-name::after,
.avatar-small[style*='254436768709869578'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='254436768709869578'] + .member-inner .member-username::after,
.avatar-popout[style*='254436768709869578']::after,
.avatar-profile[style*='254436768709869578']::after,
.message-group .avatar-large[style*='254436768709869578'] + .comment .user-name::after,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106750383161901056'] + .member-inner .member-username::after,
.avatar-popout[style*='106750383161901056']::after,
.avatar-profile[style*='106750383161901056']::after,
.message-group .avatar-large[style*='106750383161901056'] + .comment .user-name::after,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='131129476527554560'] + .member-inner .member-username::after,
.avatar-popout[style*='131129476527554560']::after,
.avatar-profile[style*='131129476527554560']::after,
.message-group .avatar-large[style*='131129476527554560'] + .comment .user-name::after
{
    content: url(http://i.imgur.com/KfCgHzX.png);
}

.avatar-small[style*='/a_'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='/a_'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='/a_'] + .comment .user-name::after,
.avatar-small[style*='91297138960527360'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91297138960527360'] + .member-inner .member-username::after,
.avatar-popout[style*='91297138960527360']::after,
.avatar-profile[style*='91297138960527360']::after,
.message-group .avatar-large[style*='91297138960527360'] + .comment .user-name::after,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='188609869576798208'] + .member-inner .member-username::after,
.avatar-popout[style*='188609869576798208']::after,
.avatar-profile[style*='188609869576798208']::after,
.message-group .avatar-large[style*='188609869576798208'] + .comment .user-name::after,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='74539987235778560'] + .member-inner .member-username::after,
.avatar-popout[style*='74539987235778560']::after,
.avatar-profile[style*='74539987235778560']::after,
.message-group .avatar-large[style*='74539987235778560'] + .comment .user-name::after,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='90673598259286016'] + .member-inner .member-username::after,
.avatar-popout[style*='90673598259286016']::after,
.avatar-profile[style*='90673598259286016']::after,
.message-group .avatar-large[style*='90673598259286016'] + .comment .user-name::after,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='136449689460408320'] + .member-inner .member-username::after,
.avatar-popout[style*='136449689460408320']::after,
.avatar-profile[style*='136449689460408320']::after,
.message-group .avatar-large[style*='136449689460408320'] + .comment .user-name::after,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='231403365681201153'] + .member-inner .member-username::after,
.avatar-popout[style*='231403365681201153']::after,
.avatar-profile[style*='231403365681201153']::after,
.message-group .avatar-large[style*='231403365681201153'] + .comment .user-name::after,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='246075731061243904'] + .member-inner .member-username::after,
.avatar-popout[style*='246075731061243904']::after,
.avatar-profile[style*='246075731061243904']::after,
.message-group .avatar-large[style*='246075731061243904'] + .comment .user-name::after,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='153591222148136970'] + .member-inner .member-username::after,
.avatar-popout[style*='153591222148136970']::after,
.avatar-profile[style*='153591222148136970']::after,
.message-group .avatar-large[style*='153591222148136970'] + .comment .user-name::after,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93989048976150528'] + .member-inner .member-username::after,
.avatar-popout[style*='93989048976150528']::after,
.avatar-profile[style*='93989048976150528']::after,
.message-group .avatar-large[style*='93989048976150528'] + .comment .user-name::after,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='110250208872411136'] + .member-inner .member-username::after,
.avatar-popout[style*='110250208872411136']::after,
.avatar-profile[style*='110250208872411136']::after,
.message-group .avatar-large[style*='110250208872411136'] + .comment .user-name::after,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91611701434130432'] + .member-inner .member-username::after,
.avatar-popout[style*='91611701434130432']::after,
.avatar-profile[style*='91611701434130432']::after,
.message-group .avatar-large[style*='91611701434130432'] + .comment .user-name::after,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129375828407615488'] + .member-inner .member-username::after,
.avatar-popout[style*='129375828407615488']::after,
.avatar-profile[style*='129375828407615488']::after,
.message-group .avatar-large[style*='129375828407615488'] + .comment .user-name::after,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129363895696621569'] + .member-inner .member-username::after,
.avatar-popout[style*='129363895696621569']::after,
.avatar-profile[style*='129363895696621569']::after,
.message-group .avatar-large[style*='129363895696621569'] + .comment .user-name::after,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93825299266928640'] + .member-inner .member-username::after,
.avatar-popout[style*='93825299266928640']::after,
.avatar-profile[style*='93825299266928640']::after,
.message-group .avatar-large[style*='93825299266928640'] + .comment .user-name::after,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106511773581991936'] + .member-inner .member-username::after,
.avatar-popout[style*='106511773581991936']::after,
.avatar-profile[style*='106511773581991936']::after,
.message-group .avatar-large[style*='106511773581991936'] + .comment .user-name::after,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='86810211834150912'] + .member-inner .member-username::after,
.avatar-popout[style*='86810211834150912']::after,
.avatar-profile[style*='86810211834150912']::after,
.message-group .avatar-large[style*='86810211834150912'] + .comment .user-name::after,
.guild-settings-modal-members .avatar-small[style*='254436768709869578'] + .member-inner .member-username::after,
.avatar-popout[style*='254436768709869578']::after,
.avatar-profile[style*='254436768709869578']::after,
.message-group .avatar-large[style*='254436768709869578'] + .comment .user-name::after,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106750383161901056'] + .member-inner .member-username::after,
.avatar-popout[style*='106750383161901056']::after,
.avatar-profile[style*='106750383161901056']::after,
.message-group .avatar-large[style*='106750383161901056'] + .comment .user-name::after,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='131129476527554560'] + .member-inner .member-username::after,
.avatar-popout[style*='131129476527554560']::after,
.avatar-profile[style*='131129476527554560']::after,
.message-group .avatar-large[style*='131129476527554560'] + .comment .user-name::after
{
    position: absolute;
    padding: 1px 2px;
    vertical-align: bottom;
    top: 2px;
}
.avatar-small[style*='/a_'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='/a_'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='/a_'] + .comment .user-name::after,
.avatar-small[style*='91297138960527360'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91297138960527360'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='91297138960527360'] + .comment .user-name::after,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='188609869576798208'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='188609869576798208'] + .comment .user-name::after,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='74539987235778560'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='74539987235778560'] + .comment .user-name::after,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='90673598259286016'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='90673598259286016'] + .comment .user-name::after,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='136449689460408320'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='136449689460408320'] + .comment .user-name::after,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='231403365681201153'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='231403365681201153'] + .comment .user-name::after,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='246075731061243904'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='246075731061243904'] + .comment .user-name::after,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='153591222148136970'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='153591222148136970'] + .comment .user-name::after,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93989048976150528'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='93989048976150528'] + .comment .user-name::after,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='110250208872411136'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='110250208872411136'] + .comment .user-name::after,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='91611701434130432'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='91611701434130432'] + .comment .user-name::after,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129375828407615488'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='129375828407615488'] + .comment .user-name::after,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='129363895696621569'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='129363895696621569'] + .comment .user-name::after,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='93825299266928640'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='93825299266928640'] + .comment .user-name::after,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106511773581991936'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='106511773581991936'] + .comment .user-name::after,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='86810211834150912'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='86810211834150912'] + .comment .user-name::after,
.avatar-small[style*='254436768709869578'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='254436768709869578'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='254436768709869578'] + .comment .user-name::after,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='106750383161901056'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='106750383161901056'] + .comment .user-name::after,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='131129476527554560'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='131129476527554560'] + .comment .user-name::after
{
    position: relative;
    margin-left: 0px;
}
.avatar-small[style*='/a_'] + .member-inner .member-username-inner::after,
.avatar-small[style*='91297138960527360'] + .member-inner .member-username-inner::after,
.avatar-small[style*='188609869576798208'] + .member-inner .member-username-inner::after,
.avatar-small[style*='74539987235778560'] + .member-inner .member-username-inner::after,
.avatar-small[style*='90673598259286016'] + .member-inner .member-username-inner::after,
.avatar-small[style*='136449689460408320'] + .member-inner .member-username-inner::after,
.avatar-small[style*='231403365681201153'] + .member-inner .member-username-inner::after,
.avatar-small[style*='246075731061243904'] + .member-inner .member-username-inner::after,
.avatar-small[style*='153591222148136970'] + .member-inner .member-username-inner::after,
.avatar-small[style*='93989048976150528'] + .member-inner .member-username-inner::after,
.avatar-small[style*='110250208872411136'] + .member-inner .member-username-inner::after,
.avatar-small[style*='91611701434130432'] + .member-inner .member-username-inner::after,
.avatar-small[style*='129375828407615488'] + .member-inner .member-username-inner::after,
.avatar-small[style*='129363895696621569'] + .member-inner .member-username-inner::after,
.avatar-small[style*='93825299266928640'] + .member-inner .member-username-inner::after,
.avatar-small[style*='106511773581991936'] + .member-inner .member-username-inner::after,
.avatar-small[style*='86810211834150912'] + .member-inner .member-username-inner::after,
.avatar-small[style*='254436768709869578'] + .member-inner .member-username-inner::after,
.avatar-small[style*='106750383161901056'] + .member-inner .member-username-inner::after,
.avatar-small[style*='131129476527554560'] + .member-inner .member-username-inner::after
{
    top: 2px;
}

/*Subscriber*/
.message-group:not(.compact) .avatar-large[style*="/a_"] ~ .comment .body h2:before {
    content: url(https://raw.githubusercontent.com/KaosBass/PlugDJ_VIP/master/Plug%20Ranks/Nitro.png);
  position:relative;
  top: 2px;
  padding-right: 1px;
}
